<launch>
  
  <!-- A launch file to independently (re-)launch the point head action for debugging -->
  
<!--  <include file="$(find pr2_machine)/pr2.machine" />
-->
  <group ns="head_traj_controller">
    <node name="point_head_action" 
          pkg="pr2_head_action" type="pr2_head_action" output="screen" >

      <rosparam>
        success_angle_threshold: 0.01
      </rosparam>
    
    </node>
  </group>

</launch>
